<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="uz.greenwhite.spp_connection_plugin">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <!-- Bluetooth permissions for older Android versions -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>

    <!-- Bluetooth permissions for Android 12+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

    <application>
        <service
            android:name=".SerialService"
            android:foregroundServiceType="remoteMessaging|connectedDevice"
            android:exported="false" />
    </application>
</manifest>
